VITE_BASE_URL=http://localhost:5173
VITE_SERVER_URL=http://localhost:3000
VITE_AUTH0_AUDIENCE=
VITE_AUTH0_CLIENT_ID=
VITE_AUTH0_DOMAIN=
VITE_IMAGE_KIT_ENDPOINT=
VITE_IMAGE_KIT_PUBLIC_KEY=
VITE_GEMINI_API_KEY=
