.signInPage {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	button{
		padding-block: 0.75rem;
		padding-inline: 1.5rem;
		border-radius: 2rem;
		border: 1px solid white;
		font-size: 1rem;
		background: rgb(14, 12, 22);
		color: white;
		cursor: pointer;
		transition: all 200ms;

		&:hover{
			background-color: rgba(255, 255, 255, 0.9);
			border: transparent;
			color: black
		}
	}
}
