.dashboardLayout {
	display: flex;
	gap: 0.35rem;
	padding-top: 1.25rem;
	height: 100%;

	.menu {
		flex: 0.8;
	}

	.content {
		flex: 4;
		background: radial-gradient(343px at 46.3% 47.5%, rgb(242, 242, 242) 0%, rgb(241, 241, 241) 72.9%);
	}
}

body.dark #content{
	background: #12101b;
}
