.rootLayout {
	padding-left: 1.5rem;
	padding-top: 16px;
	height: 100vh;
	display: flex;
	flex-direction: column;

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 1rem;

		.logo {
			display: flex;
			align-items: center;
			font-weight: bold;
			gap: 8px;
			flex: 1;

			img {
				width: 250px;
				margin-left: -1.3rem;
			}
		}

		.user {
			scale: 1.8;
			transform: translateY(4px);
			margin-right: 0.8rem;
		}
	}

	main {
		flex: 1;
		overflow: hidden;
	}
}
