.rootLayout {
	padding-left: 0.75rem;
	padding-top: 16px;
	height: 100vh;
	display: flex;
	flex-direction: column;

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 1rem;

		.logo-container {
			display: flex;
			align-items: center;
			font-weight: bold;
			margin-left: 0.5rem;
			gap: 8px;
			flex: 0.06;
			transition: all 300ms;

			.logo {
				width: 50px;
				filter: invert(0);

				&:hover{
					filter: invert(1);
				}
			}
		}

		.user {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 1.5rem;

			.theme {
				transition: all 200ms;
				display: flex;
				justify-content: center;
				align-items: center;
				
				img {
					padding-top: 0.25rem;
					width: 1.9rem;
					height: 1.9rem;
					object-fit: cover;
					filter: invert(0.35);
				}

				&:hover {
					cursor: pointer;

					img {
						filter: invert(0.1);
					}
				}
			}

			.profile {
				border-radius: 50%;
				align-items: center;
				justify-content: center;
				display: flex;
				overflow: hidden;

				img {
					width: 2.3rem;
					height: 2.3rem;
					object-fit: cover;
				}
			}
		}
	}

	main {
		flex: 1;
		overflow: hidden;
	}
}

/* dark theme */
body.dark #logo {
	filter: invert(1);

	&:hover{
		filter: invert(0.5);
	}
}

body.dark #theme > img {
	filter: invert(0.9);
	padding-top: 0;

	&:hover {
		filter: invert(1);
	}
}